{{#if tweets}}
{{#each tweets}}
<div class="container tweetBoxes">
    <div class="userImg container">
        <form action="#" method="get">
        <img src="/Images/twitterLogo.png" alt="">

        </form>
    </div>
    <div class="container userCont">
        <div class="container username">


            <span><strong>{{this.name}}</strong></span>&nbsp; <span style="color: gray;font-size: 15px;">@{{this.username}}</span>&nbsp;<span style="color: gray;font-size: 13px;">.{{this.date}}</span> &nbsp;<span><div class="dropdown">
  <button class="btn btn-secondary " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 10px; width:10px; background-color:white; border:0px white; display:flex; position:relative; left:350px; top:-41px;">
    <img src="https://static.thenounproject.com/png/658625-200.png" alt="" style="height: 50px; width:50px">
  </button>
  <ul class="dropdown-menu" style="border-radius: 13px;">
    <form action="/deletetweet/{{this._id}}" method="get"><li><button class="dropdown-item" type="submit" style="color: red;">Delete</button></li></form>
    <li><button class="dropdown-item" type="button">Pin to your profile</button></li>
    <li><button class="dropdown-item" type="button">Change who can reply</button></li>
    <li><button class="dropdown-item" type="button">Embed Tweet</button></li>
    <li><button class="dropdown-item" type="button">View tweet analytics</button></li>
  </ul>
</div> </span>


        </div>
        <div class="container tweetShow">
            <p>{{this.description}}</p>
        </div>
        <div class="tweetBtnsCont container">
            <button class="tweetBtns"><i class="fa-solid fa-chart-simple" ></i></button>
            <button class="tweetBtns"><i class="fa-regular fa-comment" ></i></button>
            <button class="tweetBtns"><i class="fa-solid fa-retweet" ></i></button>
            <button class="tweetBtns"><i class="fa-regular fa-heart" ></i></button>
            <button class="tweetBtns"><i class="bi bi-upload"></i></button>
        </div>
    </div>
</div><hr class="hr">
{{/each}}
{{else}}
<h5 style="text-align: center;">Write your first tweet</h5>
{{/if}}